.body {
    background-color: pink;
    font-family: "Monserrat";
}
/*https://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap*/
/* navbar */
.navbar-default {
    background-color: #750d37;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;

    
    .footer {
        background-color: #750d37;
        padding: 25px;
    }
    
    .motto {
        font
    }